<!DOCTYPE html>

{% load static %}
{% load layout_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Django App
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
    <nav>
        <a href={% url "home-view" %}>Home</a> |
        <a href="{% url 'renewal-select' %}">Renewals</a> |
        <a href="{% url 'district-select' %}">District</a> |
        <a href="{% url 'addon-select' %}">Addon</a> |
        <a href="/payments/3/edit/">Payments</a>
    </nav>

    {% block heading %}
    {% endblock heading %}
    <main>
        {% block content %}
        {% endblock content %}
    </main>
    
</body>
</html>