<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Django App
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
    <nav>
        <a href={% url "home-view" %}>Home</a> |
        <a href={% url "renewal-view" %}>Renewals</a> |
        <a href={% url "district-view" %}>District</a> |
        <a href={% url "addon-view" %}>Add-On</a> |
        <a href="/payments/3/edit/">Payments</a>
    </nav>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
    
</body>
</html>