<!DOCTYPE html>

{% load static %}
{% load layout_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Django App
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
    <nav>
        <a href={% url "home-view" %}>Home</a> |
        <a href="{% url 'renewal-select' %}">Renewals</a> |

        {% first_district_pk as dist_pk %}
        {% if dist_pk %}
            <a href="{% url 'district-edit' dist_pk %}">District</a> |
        {% else %}
            <a href="#">District (no records)</a> |
        {% endif %}

        {% first_addon_pk as add_pk %}
        {% if add_pk %}
            <a href="{% url 'addon-edit' add_pk %}">Add-On</a> |
        {% else %}
            <a href="#">Add-On (no records)</a> |
        {% endif %}

        <a href="/payments/3/edit/">Payments</a>
    </nav>

    {% block heading %}
    {% endblock heading %}
    <main>
        {% block content %}
        {% endblock content %}
    </main>
    
</body>
</html>