{% extends "layout.html" %}

{% block title %}
  Payment Records
{% endblock title %}

{% block heading %}
  <h3 class="title">Payment Records</h3>
{% endblock heading %}

{% block content %}
  <table class="payments-table">
    <thead>
      <tr>
        <th>Order #</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Employee ID</th>
      </tr>
    </thead>
    <tbody>
      {% for payment in payments %}
        <tr>
          <td>{{ payment.order_num }}</td>
          <td>{{ payment.first_name }}</td>
          <td>{{ payment.last_name }}</td>
          <td>{{ payment.employee_id }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
